!!! 5
html
    head
        title index
        script(src=url_for('static', filename='jquery-3.1.1.min.js'))
        script(src=url_for('static', filename='changer.js'))
        script(src=url_for('static', filename='jquery.fittext.js'))

        link(rel='stylesheet', href=url_for('static', filename='style.css'))
    body
        #container
            #artist placeholder_artist
            #songname placeholder_songname
        script.
            jQuery("#container").fitText();
